Intermediate
Saved
/PurplePlayground/Binaries/Win64/PurplePlaygroundEditor.target
/PurplePlayground/Binaries/Win64/UE4Editor.modules
/PurplePlayground/Binaries/Win64/UE4Editor-PurplePlayground.dll
/PurplePlayground/Binaries/Win64/UE4Editor-PurplePlayground.pdb
/PurplePlayground/PurplePlayground.sdf
/PurplePlayground/PurplePlayground.sln
.vs
